link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
.container-fluid
  .menuShowContainer
    .menuShowContent
      .menu-items
        a(href="#")
          li About
        a(href="#")
          li 作品集
        a(href="#")
          li Content
  .row.p-0
    .headerContainer
      .heraderContent
        .logoContainer
          .logoContent
            .logoimg
              img
        .menuContainer
          .menuContent
            .menu
              span.material-icons menu
      
  //- header-end
  .row 
    .col.banner_content
      .banner_img
        //- img(src="https://images.unsplash.com/photo-1581287053822-fd7bf4f4bfec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1501&q=80", alt="")
  //- banner-contanet end
  .row
    .col-12.aboutContent.scroll
      .col-8.aboutText.m-auto
        h1.side About
        p.side 善於跨部門溝通與時程規劃，擁抱挑戰新事物，在快速迭代的環境中能獨立工作。 目前主要從事網頁與應用程式UIUX、響應式網站、管理系統介面設計工作。 
        .button.side
          a(href="#") More
  .row
   .banner_content
      .banner_img
  //- banner-contanet end
  .row
    .col-12.aboutContent.scroll
      .col-8.aboutText.mx-auto
        h1.side Experience
      .col-8.ExperienceContainer.m-auto
        .ExperienceImg.side
      .col-8.workText.mx-auto
        h3.side Experience
        p.side 工作經歷 / 接案 累計至今作品網站
        a(href="https://www.behance.net/harry610333e08" target="_blank") 
          .linkTet.side 作品集
  section.workContainer.scroll
    .col-10.workContent
      .row
        .workText.side
          h1 Work
      .row
        .workItemts.side
            .workImgContainer
              .workImg
                img(src="https://i.imgur.com/koDmIuH.jpg", alt="#")
                a(href="#" target="_blank") 
                  .workBlack
                    .blackText More 
            .workTextContainer
                  .workTextBox
                    h4 DAEX INTELLIGENT
                    p 關鍵評論網 - DaEX 
        .workItemts.side
            .workImgContainer
              .workImg
                img(src="https://i.imgur.com/GdeCKmB.jpg", alt="#")
                a(href="https://www.behance.net/gallery/114789939/Rain4" target="_blank") 
                  .workBlack
                    .blackText More 
            .workTextContainer
                  .workTextBox
                    h4 Rain4
                    p Rain4 形象視覺網站規劃設計
        .workItemts.side
            .workImgContainer
              .workImg
                img(src="https://i.imgur.com/MawEfNP.jpg", alt="#")
                a(href="https://www.behance.net/gallery/99078521/_" targel="_blank") 
                  .workBlack
                    .blackText More 
            .workTextContainer
                  .workTextBox
                    h4 華美航運 - 生態圈
                    p 已生態圈敘述整體集團營業項目
        .workItemts.side
            .workImgContainer
              .workImg
                img(src="https://i.imgur.com/naqv8LX.jpg", alt="#")
                a(href="https://www.behance.net/gallery/115511455/G-Man-" trangel="_blank") 
                  .workBlack
                    .blackText More 
            .workTextContainer
                  .workTextBox
                    h4 G Man app
                    p 健身App UI Design
        .workItemts.side
            .workImgContainer
              .workImg
                img(src="https://i.imgur.com/tnsb1xL.jpg", alt="#")
                a(href="https://www.behance.net/gallery/99045573/_" target="_blank") 
                  .workBlack
                    .blackText More 
            .workTextContainer
                  .workTextBox
                    h4 少小白
                    p 少小白 - 企業形象設計
        .workItemts.side
            .workImgContainer
              .workImg
                img(src="https://i.imgur.com/m92Qkdn.jpg", alt="#")
                a(href="https://www.behance.net/gallery/99076115/APP" target="_blank") 
                  .workBlack
                    .blackText More 
            .workTextContainer
                  .workTextBox
                    h4 愛評網
                    p 愛評網 UI Design
        .workItemts.side
            .workImgContainer
              .workImg
                img(src="https://i.imgur.com/2SeC3ci.jpg", alt="#")
                a(href="https://www.behance.net/gallery/101645925/_" target="_blank") 
                  .workBlack
                    .blackText More 
            .workTextContainer
                  .workTextBox
                    h4 包裝設計
                    p 寵物用品 - 包裝設計
        .workItemts.side
            .workImgContainer
              .workImg
                img(src="https://i.imgur.com/kI6ZQI2.jpg", alt="#")
                a(href="https://www.behance.net/gallery/99073561/_" target="_blank") 
                  .workBlack
                    .blackText More 
            .workTextContainer
                  .workTextBox
                    h4 名片設計
                    p 老虎牙子品牌 - 名片設計
  footer.footerContainer  
    .footerContent
      .footerTextContent
        .contentText
          h1 Contnet
          a(traget="_blank" rel="noreferrer noopenner" href="harry61033@gmail.com")
            span harry61033@gmail.com
.Copyright
  .CopyrightBox
    span Copyright© 2022 RoyXiongDesign