doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width' initial-scale='1.0')
  title CodePen - new home
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='./style.css')
// partial:index.partial.html
link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
.container-fluid
  .menuShowContainer
    .menuShowContent
      .menu-items
        a(href="https://harry61033.github.io/2022peags-demo/" traget="_blank")
          li Home
        a(href="https://harry61033.github.io/2022page-demo2/" traget="_blank")
          li About
        a(href='https://www.behance.net/harry610333e08' traget="_blank")
          li 作品集
  .row.p-0
    .headerContainer
      .heraderContent
        .logoContainer
          .logoContent
            .logoimg
              img
        .menuContainer
          .menuContent
            .menu
              span.material-icons menu
  .row
    .col.banner_content
      .banner_img
  .row
    .col-12.aboutContent.scroll
      .col-8.aboutText.m-auto
        h1.side About
        p.side &#x5584;&#x65BC;&#x8DE8;&#x90E8;&#x9580;&#x6E9D;&#x901A;&#x8207;&#x6642;&#x7A0B;&#x898F;&#x5283;&#xFF0C;&#x64C1;&#x62B1;&#x6311;&#x6230;&#x65B0;&#x4E8B;&#x7269;&#xFF0C;&#x5728;&#x5FEB;&#x901F;&#x8FED;&#x4EE3;&#x7684;&#x74B0;&#x5883;&#x4E2D;&#x80FD;&#x7368;&#x7ACB;&#x5DE5;&#x4F5C;&#x3002; &#x76EE;&#x524D;&#x4E3B;&#x8981;&#x5F9E;&#x4E8B;&#x7DB2;&#x9801;&#x8207;&#x61C9;&#x7528;&#x7A0B;&#x5F0F;UIUX&#x3001;&#x97FF;&#x61C9;&#x5F0F;&#x7DB2;&#x7AD9;&#x3001;&#x7BA1;&#x7406;&#x7CFB;&#x7D71;&#x4ECB;&#x9762;&#x8A2D;&#x8A08;&#x5DE5;&#x4F5C;&#x3002; 
        .button.side
          a(href='https://harry61033.github.io/2022page-demo2/') More
  .row
    .banner_content
      .banner_img
  .row
    .col-12.aboutContent.scroll
      .col-8.aboutText.mx-auto
        h1.side Experience
      .col-8.ExperienceContainer.m-auto
        .ExperienceImg.side
      .col-8.workText.mx-auto
        h3.side Experience
        p.side &#x5DE5;&#x4F5C;&#x7D93;&#x6B77; / &#x63A5;&#x6848; &#x7D2F;&#x8A08;&#x81F3;&#x4ECA;&#x4F5C;&#x54C1;&#x7DB2;&#x7AD9;
        a(href='https://www.behance.net/harry610333e08' target='_blank')
          .linkTet.side &#x4F5C;&#x54C1;&#x96C6;
  section.workContainer.scroll
    .col-10.workContent
      .row
        .workText.side
          h1 Work
      .row
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/01.jpeg' alt='#')
              a(href='http://www.daexintel.com/' target='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 DAEX INTELLIGENT
              p 關鍵評論網 - DaEX 
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/09.jpeg' alt='#')
              a(href='https://www.cupoy.com/curriculum' target='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 Cupoy
              p Web 整體前台後台 UI/UX 更新優化
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/02.jpeg' alt='#')
              a(href='https://www.behance.net/gallery/114789939/Rain4' target='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 Rain4
              p Rain4 形象視覺網站規劃設計
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/03.jpeg' alt='#')
              a(href='https://www.behance.net/gallery/99078521/_' targel='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 華美航運 - 生態圈
              p 已生態圈敘述整體集團營業項目
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/10.jpeg' alt='#')
              a(href='https://www.behance.net/gallery/139386095/_' target='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 賊貓偷牛 
              p 競技踩地雷遊戲
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/04.jpeg' alt='#')
              a(href='https://www.behance.net/gallery/115511455/G-Man-' trangel='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 G Man app
              p 健身App UI Design
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/11.jpeg' alt='#')
              a(href='https://www.behance.net/gallery/139385431/_' traget="_blank")
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 成語迷宮 - 闖關遊戲
              p 透過成語填字 - 來突破關卡
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/05.jpeg' alt='#')
              a(href='https://www.behance.net/gallery/99045573/_' target='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 少小白
              p 少小白 - 企業形象設計
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/06.jpeg' alt='#')
              a(href='https://www.behance.net/gallery/99076115/APP' target='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 愛評網
              p 愛評網 UI Design
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/07.jpeg' alt='#')
              a(href='https://www.behance.net/gallery/101645925/_' target='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 包裝設計
              p 寵物用品 - 包裝設計
        .workItemts.side
          .workImgContainer
            .workImg
              img(src='img/08.jpeg' alt='#')
              a(href='https://www.behance.net/gallery/99073561/_' target='_blank')
                .workBlack
                  .blackText More 
          .workTextContainer
            .workTextBox
              h4 名片設計
              p 老虎牙子品牌 - 名片設計
  footer.footerContainer
    .footerContent
      .footerTextContent
        .contentText
          h1 Contnet
          a(target='_blank' rel='noreferrer noopenner' href='mailto:sales@thenewslens.com')
            | harry61033@gmail.com
.Copyright
  .CopyrightBox
    span Copyright&copy; 2022 RoyXiongDesign
// partial
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
script(src='https://cdn.jsdelivr.net/npm/jquery-inview@1.1.2/jquery.inview.min.js')
script(src='./script.js')
